/* use more intuitive box-sizing model */

*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "ibm-bold";
    src: url(/fonts/IBMPlexSans-Bold.ttf);
}

@font-face {
    font-family: "ibm-regular";
    src: url(/fonts/IBMPlexSans-Regular.ttf);
}

:root {
    font-family: "ibm-bold";
    font-size: 1em;
    --color1: #272946;
    --color2: #aaea6c;
    --color3: #e7ffee;
    --color4: #3f416c;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color1);
}

canvas {
    display: block;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
}

.modal-content {
    background-color: var(--color2);
    border-color: var(--color1);
    border-style: solid;
    margin: 15% auto;
    border-radius: 5px;
    padding: 20px;
    max-width: 500px;
    overflow: auto;

}

.modal-btn-container {
    display: flex;
    flex-direction: column;
}

.ui-container {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.controls-message {
    position: fixed;
    color: var(--color3);
    top: 3vh;
    left: 5vw;
    opacity: 0.4;
    font-size: 1.2rem;
    max-width: 40vw;
    user-select: none;
} 

.camera-controller {
    display: flex;
    position: fixed;
    top: 5vh;
    right: 5vw;
    gap: 1vh;
}

.camera-controller-btn:active {
    opacity: 1;
}

.camera-controller-btn {
    color: var(--color2);
    background-color: var(--color1);
    border: var(--color1);
    border-style: solid;
    border-radius: 12px;
    font-size: 2rem;
    width: 12vw;
    opacity: 0.4;
}

